aaargh==0.7.1
click==6.6
decorator==4.0.9
Flask==0.10.1
Flask-Login==0.3.2
Flask-OAuthlib==0.9.2
Flask-SQLAlchemy==2.1
geocoder==1.13.0
geodis==2.0.9
geohasher==0.1.dev0
geopy==1.11.0
googlemaps==2.4.3
gunicorn==19.4.5
itsdangerous==0.24
Jinja2==2.8
lxml==3.6.0
MarkupSafe==0.23
oauthlib==1.0.3
psycopg2==2.6.1
ratelim==0.1.6
redis==2.10.5
requests==2.9.1
requests-oauthlib==0.6.1
six==1.10.0
SQLAlchemy==1.0.12
upoints==0.12.2
Werkzeug==0.11.5
