.userfullname {
	font-weight: Bold;
}

#registerbackground {
	background: #EEEEEE;
}

.register {
	width: 500px;
	margin-top: 20px;
	margin-bottom: 20px;
	background: white;
}




.container {
	width: 530px;
	text-align: center;
	margin: 20px auto;
	
}

.profile-container {
	border: 1px solid rgba(220,220,220,1);	
	margin: 10px 0px;
	height: 150px;
	background: rgba(255,255,255,1);

}

.profile-pic {
	height:120px;
	width: 120px;
	margin: 13px 10px 0px 10px;
	display: inline-block;
	background-size: cover;
}

.profile-desc {
	/*
	border: 1px solid gray;		
	*/
	height:120px;
	width: 350px;
	margin: 13px 0px 0px 0px;
	display: inline-block;
	position: relative;
	text-align: left
}

.chal-yes {
	margin-top: 12px;
	height: 40px;
	width: 50px;
	right: 10px;
	position: absolute;	
}

.chal-no {
	margin-top: 65px;
	height:40px;
	width: 50px;	
	position: absolute;
	right: 10px;
}

.contact-user {
	margin-top: 12px;
	height: 40px;
	width: 50px;
	right: 10px;
	position: absolute;	
}

.name {
	font-weight: bold;
	
	height: 20px;
	width: 250px;
	position: absolute;
	margin-top: 10px;
}

.location {
	
	height: 20px;
	width: 250px;
	position: absolute;
	margin-top: 35px;
}

.description {
	
	height: 50px;
	width: 250px;
	position: absolute;
	margin-top: 60px;
	font-size: 13;
}

.wordwrap { 
   white-space: pre-wrap;      /* CSS3 */   
   white-space: -moz-pre-wrap; /* Firefox */    
   white-space: -pre-wrap;     /* Opera <7 */   
   white-space: -o-pre-wrap;   /* Opera 7 */    
   word-wrap: break-word;      /* IE */
}

#user1 {
	background-image: url("user1.JPG");
	
}

.glyphicon-ok-sign {
	font-size: 1.7em;
	color: black;
	line-height: 25px;

}

.glyphicon-remove-sign {
	font-size: 1.7em;	
	color: black;
	line-height: 25px;
}

.glyphicon-user {
	font-size: 1.7em;	
	color: black;
	display: block;
	margin: 0 auto;
	line-height: 25px;
}

.find-bg {
	background: rgba(240,240,240,1);	
}

a:hover, a:visited, a:link, a:active {
   text-decoration: none;
}

