<!DOCTYPE>
<html>
<head>
	<title>Challenges</title>
</head>
<body>
	{% extends "layout.html" %}
	{% block content %}

		<div class="container-fluid">
			
			<div class="container">
				<div class="userblock">
					<h3 class="userfullname">Elon Musk</h3>
					<h4>San Jose, CA (2 mi.)</h4>
					<p>I like playing ping pong on the weekends.</p>
					<p>Contact: elon@tesla.com</p>
					
				</div>
				<hr>

				<div class="userblock">
					<h3 class="userfullname">Bill Gates</h3>
					<h4>San Jose, CA (5 mi.)</h4>
					<p>I like playing ping pong on the weekends.</p>
					<p>Contact: 111-111-1111</p>
					
					
				</div>
				<hr>
			</div>
				

			</div>
		</div>

	{% endblock %}

</body>
</html>