<!DOCTYPE>
<html>
<head>
	<title>Challenges</title>
</head>
<body>
	{% extends "layout.html" %}
	{% block content %}

		<div class="container-fluid">
			
			<div class="container">
				<div class="userblock">
					<h3 class="userfullname">Justin Bieber</h3>
					<h4>San Jose, CA (2 mi.)</h4>
					<p>I like playing ping pong on the weekends.</p>
					
					<button type="button" class="btn btn-default">
	  				<span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
					</button>

					<button type="button" class="btn btn-default">
	  				<span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span>
					</button>
				</div>
				<hr>

				<div class="userblock">
					<h3 class="userfullname">Jessica Alba</h3>
					<h4>San Jose, CA (5 mi.)</h4>
					<p>I like playing ping pong on the weekends.</p>
					
					<button type="button" class="btn btn-default">
	  				<span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
					</button>

					<button type="button" class="btn btn-default">
	  				<span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span>
					</button>
				</div>
				<hr>
			</div>
				

			</div>
		</div>

	{% endblock %}

</body>
</html>