<!DOCTYPE>
<html>
<head>
	<title>Find Games</title>
</head>
<body class="find-bg">
	{% extends "layout.html" %}
	{% block content %}

		<div class="container">

		<div class="profile-container">
			<div class="profile-pic" id="user1"></div>
			<div class="profile-desc">
				<div class="name">Yujin Cho</div>
				<div class="location">Distance: 4 miles</div>
				<div class="description">I like playing ping pong. I used to play all the time in college.</div>
				<button type="button" class="chal-yes"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span></button>
				<button type="button" class="chal-no"><span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span></button>
			</div>
		</div>

		<div class="profile-container">
			<div class="profile-pic" id="user1"></div>
			<div class="profile-desc">
				<div class="name">Yujin Cho</div>
				<div class="location">Distance: 4 miles</div>
				<div class="description">I like playing ping pong. I used to play all the time in college.</div>
				<button type="button" class="chal-yes"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span></button>
				<button type="button" class="chal-no"><span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span></button>
			</div>
		</div>

		<div class="profile-container">
			<div class="profile-pic" id="user1"></div>
			<div class="profile-desc">
				<div class="name">Yujin Cho</div>
				<div class="location">Distance: 4 miles</div>
				<div class="description">I like playing ping pong. I used to play all the time in college.</div>
				<button type="button" class="chal-yes"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span></button>
				<button type="button" class="chal-no"><span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span></button>
			</div>
		</div>

		<div class="profile-container">
			<div class="profile-pic" id="user1"></div>
			<div class="profile-desc">
				<div class="name">Yujin Cho</div>
				<div class="location">Distance: 4 miles</div>
				<div class="description">I like playing ping pong. I used to play all the time in college.</div>
				<button type="button" class="chal-yes"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span></button>
				<button type="button" class="chal-no"><span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span></button>
			</div>
		</div>

		<div class="profile-container">
			<div class="profile-pic" id="user1"></div>
			<div class="profile-desc">
				<div class="name">Yujin Cho</div>
				<div class="location">Distance: 4 miles</div>
				<div class="description">I like playing ping pong. I used to play all the time in college.</div>
				<button type="button" class="chal-yes"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span></button>
				<button type="button" class="chal-no"><span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span></button>
			</div>
		</div>

		<div class="profile-container">
			<div class="profile-pic" id="user1"></div>
			<div class="profile-desc">
				<div class="name">Yujin Cho</div>
				<div class="location">Distance: 4 miles</div>
				<div class="description">I like playing ping pong. I used to play all the time in college.</div>
				<button type="button" class="chal-yes"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span></button>
				<button type="button" class="chal-no"><span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span></button>
			</div>
		</div>
		
		

	</div>

	{% endblock %}

</body>
</html>