<!DOCTYPE>
<html>
<head>
	<title>Find Games</title>
</head>
<body class="find-bg">
	{% extends "layout.html" %}
	{% block content %}

	<div class="container">

	{% if not g.user.is_authenticated %}	
	<div class="alert alert-info">
		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		Create account to challenge players 
	</div>
	{% endif %}

	{% with messages = get_flashed_messages() %}
	  {% if messages %}
	    {% for message in messages %}
	      <div class="alert alert-info">
	      	<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	      	{{ message }}
	      </div>
	    {% endfor %}
	  {% endif %}
	{% endwith %}

	{% if players|length == 0 %}
	<div class="alert alert-warning">
		<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
		Currently no users fitting this criteria
	</div>
	{% endif %}

	{% for player in players %}
	
		<form>
			<div class="profile-container" name="each-profile" value="{{ player.id }}">
				<div class="profile-pic" style="background-image: url('{{ player.profile_pic }}');"></div>
				<div class="profile-desc">
					<div class="name">{{ player.name }}</div>
					<div class="location"><i>{{ "%.1f" % player.dist_apart }} miles away</i></div>
					<div class="description wordwrap">{{ player.about_me }}</div>

					{% if g.user.is_authenticated %}
						{% if state == "find" %}
			      <a class="chal-yes btn btn-default" href="{{ url_for('update_find', user=player.id, action=1, user_name=player.name) }}"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span></a>
						<a class="chal-no btn btn-default" href="{{ url_for('update_find', user=player.id, action=0, user_name=player.name) }}"><span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span></a>  	
			      {% endif %}

						{% if state == "challenges" %}
						<a class="chal-yes btn btn-default" href="{{ url_for('update_challenge', user=player.id, action=1) }}"><span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span></a>
						<a class="chal-no btn btn-default" href="{{ url_for('update_challenge', user=player.id, action=0) }}"><span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span></a>
						{% endif %}

						{% if state == "accepted" %}
						<!-- <a class="contact-user btn btn-default" href="#"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></a> -->
						<button type="button" class="contact-user btn btn-default btn-xl page-scroll" data-toggle="modal" data-target="#myModal{{ player.id }}"><span class="glyphicon glyphicon-user" aria-hidden="true"></span></button>

						<!-- Modal -->
						  <div class="modal fade" id="myModal{{ player.id }}" role="dialog">
						    <div class="modal-dialog modal-sm">
						      <div class="modal-content">
						        <div class="modal-header">
						          <button type="button" class="close" data-dismiss="modal">&times;</button>
						          <h4 class="modal-title">Contact Info</h4>
						        </div>
						        <div class="modal-body">  
						          <p> {{ player.contact }} </p>
						        </div>
						        <div class="modal-footer">
						          <button type="button" class="btn btn-default modal-close" data-dismiss="modal">Close</button>
						        </div>
						      </div>
						    </div>
						  </div>
						{% endif %}
					{% endif %}

					
				</div>
			</div>
		</form>		  	
		
	{% endfor %}	

	</div>

	{% endblock %}

</body>
</html>