<!DOCTYPE>
<html>
<head>
	<title>Set Profile (Step 2 of 2)</title>
</head>
<body id="registerbackground">
	{% extends "layout_nobar.html" %}
	{% block content %}

		<div class="container-fluid register">
			<h1>Set Profile</h1>
			<br>
			
			<form method="POST">
			  <div class="form-group">
			    <label>Search Radius</label>
			    
			    {% if type=="update" %}
			    <input name="distance" type="number" min=1 max=200 class="form-control" placeholder="miles 1-200" value="{{ distance }}">
			    {% endif %}

			    {% if not type %}
					<input name="distance" type="number" min=1 max=200 class="form-control" placeholder="miles 1-200">
			    {% endif %}
			  </div>

			  <div class="form-group">
			    <label>Contact to share (Only shared when you approve an opponent)</label>
			    
			    {% if type=="update" %}
			    <input name="contact" type="text" class="form-control" placeholder="Phone or email address" value="{{ contact }}">
			    {% endif %}

			    {% if not type %}
					<input name="contact" type="text" class="form-control" placeholder="Phone or email address">
			    {% endif %}
			  </div>

			  <div class="form-group">
			    <label>Description</label>
			    
			    {% if type=="update" %}
			    <textarea name="description" id="about-me" class="form-control" placeholder="Something About Yourself. How often do you play? Beginner? Intermediate? Advanced?" maxlength="100">{{ description }}</textarea>
			    {% endif %}

					{% if not type %}
					<textarea name="description" id="about-me" class="form-control" placeholder="Something About Yourself. How often do you play? Beginner? Intermediate? Advanced?" maxlength="100"></textarea>
					{% endif %}
			  </div>
			  
			  <button type="submit" class="btn btn-default">Submit</button>
			</form>	
		</div>




	{% endblock %}

</body>
</html>